* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
.App {
  color: var(--text-primary);
  background-color: var(--background);
  transition: all 0.5s;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-header,
.search,
.card-grid,
.single-country {
  max-width: 1280px;
  margin: 0 4%;
}

button {
  cursor: pointer;
  background-color: var(--elements);
  color: var(--text-primary);
  border: 0;
  border-radius: 8px;
  min-width: 94px;
  padding: 3px 6px;
}
header {
  background-color: var(--elements);
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
  margin-bottom: 46px;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

header h1 {
  font-size: x-large;
  font-weight: 700;
}

header button {
  height: fit-content;
  padding: 3px 0px 3px 10px;
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: large;
  }
}
.search {
  width: 92%;
  margin-bottom: 46px;
}

.inner-search {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .inner-search {
    flex-direction: column;
  }

  .filter-button {
    margin-top: 39px;
  }
}

.inner-search .filter-button {
  height: 56px;
  border-radius: 8px;
}

.inner-search > .search-container {
  display: flex;
  flex-wrap: nowrap;
  border: 2px solid var(--elements);
}

.inner-search .search-container {
  height: 56px;
  min-width: 342px;
  border-radius: 8px;
  background-color: var(--elements);
  padding-left: 32px;
  display: flex;
  align-items: center;
}

.inner-search > div > svg {
  height: 20px;
  width: 20px;
}

.inner-search input {
  width: 100%;
  background-color: var(--elements);
  color: var(--text-primary);
  border: 0;
  padding-left: 25px;
}
.search-container:focus-within {
  border-width: 2px;
  border-style: solid;
  border-color: var(--text-primary);
}

.inner-search input:focus,
.inner-search input:active {
  outline: none;
}

.filter-button,
.region-list {
  width: 200px;
  background-color: var(--elements);
}

.filter-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}

.region-list {
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease;
  overflow: hidden;
  padding: 12px 14px;
  overflow: hidden;
  border-radius: 8px;
  margin-top: 4px;
  max-height: 0;
  z-index: -10;
}

.region-list.active {
  opacity: 1 !important;
  overflow: auto;
  max-height: 500px;
  z-index: 10;
}
.region-list li {
  padding: 5px 10px;
}
.region-list button {
  text-align: left;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5%;

  justify-content: space-between;
}

.card {
  width: 265px;
  background-color: var(--elements);
  margin-bottom: 4%;
  border-radius: 8px;
  overflow: hidden;
}
.card:hover {
  cursor: pointer;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 158px;
}

.card-details {
  margin: 25px 20px 40px;
}

.card-details h2 {
  font-size: large;
  font-weight: bold;
  margin-bottom: 14px;
}

.card-details li {
  margin-bottom: 10px;
  font-size: smaller;
}

.card-details li span {
  font-weight: bold;
}
@media screen and (max-width: 1206px) {
  .card-grid {
    justify-content: space-around;
  }
  .card {
    margin-bottom: 39px;
  }
}

.single-country {
  display: flex;
  width: 92%;
  flex-direction: column;
  align-items: flex-start;
}

.back-btn {
  margin-bottom: 80px;
  font-size: 15px;
  width: 136px;
  padding: 4px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.back-btn svg {
  margin-right: 12px;
  align-self: center;
  transform: scale(1.3);
}
.country-info {
  width: 100%;
  display: grid;
  grid-template-columns: 46% 46%;
  justify-content: space-between;
}

.country-info picture img {
  width: 100%;
}

.country-info > div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.country-info h2 {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 32px;
}

.list-container {
  display: flex;
  justify-content: space-between;
}

.list-container span {
  font-weight: bold;
}

.list-container li {
  margin-bottom: 15px;
}

.border-countries {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.border-countries span {
  flex-shrink: 0;
  font-weight: bold;
  margin-right: 10px;
}

.border-countries li,
.border-countries span {
  margin-right: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 1015px) {
  .list-container {
    display: block;
  }

  .list-container ul {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  .back-btn {
    margin-left: 3%;
  }
  .country-info {
    grid-template-columns: 94%;
    justify-content: center;
  }

  .country-info h2 {
    margin-top: 32px;
  }

  .border-countries {
    margin-bottom: 60px;
  }
  .border-countries span {
    display: block;
    width: 100%;
  }
}
